<!DOCTYPE html>
<html ng-app="feoApp" ng-controller="feoCtrl">
<head lang="en" >
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="page-header">
        <h1>{{title}}</h1>
    </div>

    <div class="container">
        <label for="search">Filter:</label>
        <input type="text" id="search" ng-model="search"/>
        <div class="well" ng-repeat="session in sessions | filter:search">
            <h2>{{ session.name }}</h2>
            <p>{{ session.description }}</p>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app/app.js"></script>
</body>
</html>
